<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53586728270-0s2aoligi4anr7akmmoe6ikmut75opvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53586728270-0s2aoligi4anr7akmmoe6ikmut75opvv</string>
	<key>API_KEY</key>
	<string>AIzaSyC7skHh5EKZCU_XVabNXEf1wgbe8ZllW1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>53586728270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dony.TrackMateEX</string>
	<key>PROJECT_ID</key>
	<string>trackmateex</string>
	<key>STORAGE_BUCKET</key>
	<string>trackmateex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53586728270:ios:c805f7c8097febe98cfa1f</string>
</dict>
</plist>